@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Text:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
li {
	list-style: none;
}

p {
	margin-bottom: 0;
}

ul {
	margin: 0 !important;
	padding: 0 !important;
}

a {
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
	height: 100%;
}

body::-webkit-scrollbar {
	background-color: rgb(215, 215, 215);
	width: 15px;
}
body::-webkit-scrollbar-thumb {
	background-color: #a4a4a4;
	border-radius: 1rem;
}

.logo {
	width: 10rem;
	padding: 0.75rem 0;
}

.blog-image {
	border-radius: 10px;
	width: 100%;
	/* max-width: 16.75rem;
	height: 11.5rem; */
	max-width: 13rem;
	height: 10rem;
}
.blog-image > img {
	border-radius: 10px;
	object-fit: cover;
}

#search {
	border-radius: 20px;
	background-color: #f9f9f9;
	font-size: 0.9rem;
	font-weight: 500;
	padding: 0.5rem 0px;
	width: 20rem;
}
#search:focus {
	border-color: #ededed; /* Change border color on focus */
	box-shadow: none; /* Change box shadow on focus */
}

.tags {
	margin-top: auto;
}
.tag {
	color: black;
	background-color: #f9f9f9;
	border-color: #ededed;
	border-radius: 20px;
	font-weight: 500;
	font-size: 12px;
}

.author {
	color: black;
	font-weight: 500;
	font-size: 13px;
}
.text {
	/* width: 40rem; */
	font-family: 'Times New Roman', Times, serif;
	font-size: 18px;
	font-weight: 400;
}
.datetime {
	font-weight: 500;
	font-size: 13px;
	color: rgb(121, 121, 121);
}
.comment.datetime {
	font-size: 11px;
}
.blog-title {
	color: black;
	letter-spacing: -1px;
	font-weight: 900;
	font-size: 1.5rem;
}

.blog-container {
	width: 31rem;
	word-wrap: break-word;
}

.login-main {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.auth-box {
	width: 27rem;
}

#show-pass {
	font-size: 13px;
	margin-left: auto;
}

.auth-title {
	width: 20rem;
}

.profile-pic {
	border-radius: 50% 50%;
	width: 2.4rem;
}

.blog.profile-pic {
	width: 1.5rem;
}
.comment.profile-pic {
	width: 1.35rem;
}
.profile-pic img {
	border-radius: 50% 50%;
}

.dropdown-toggle {
	border: 0px;
	background: transparent;
}

.dropdown-toggle::after {
	display: none;
}

.new-blog-form {
	width: 100%;
}

.new-blog-inputs {
	border: 0;
	border-bottom: 1px solid rgb(170, 170, 170);
	background-color: transparent;
	width: 100%;
	padding: 0.2rem 0.1rem;
}

.new-blog-inputs:focus {
	outline: none;
}

.blog-box,
.cover-image {
	max-width: 50rem;
	width: 100%;
}

.read-description {
	color: rgb(89, 89, 89);
	font-size: 1.3rem;
	letter-spacing: -0.5px;
	word-spacing: 1px;
	font-weight: 400;
	margin: 15px 0px;
}

.read-title {
	letter-spacing: -1.5px;
	font-weight: 900;
	font-size: 2.75rem;
}

.read-author {
	font-size: 18px;
	letter-spacing: -0.5px;
	word-spacing: -1px;
	font-weight: 500;
}

.read-datetime {
	color: rgb(118, 118, 118);
}

.read-content > h1,
.read-content > h2 {
	margin-bottom: 0.8rem;
	font-weight: 800;
	letter-spacing: -1.5px;
}
.read-content > h1 {
	font-size: 2.35rem;
}
.read-content > h2 {
	font-size: 1.75rem;
}
.read-content > p {
	margin-bottom: 1rem;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.4rem;
}

.quill-box {
	width: 100%;
	border: 1px solid rgb(170, 170, 170);
}

.quill {
	position: relative;
}

.loading-box {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 5rem);
}

.loading-box > .spinner-grow {
	scale: 1.8;
}

#previewImage {
	height: 15rem;
	width: 24rem;
	border: 2px dashed rgb(117, 117, 117);
	background-color: #ededed;
	border-radius: 0.5rem;
}
#previewImage > img {
	object-fit: cover;
	border-radius: 0.5rem;
	width: calc(100% + 5px);
	height: calc(100% + 5px);
}

.dropdown-item:focus {
	background-color: #f8f9fa;
	color: black;
}

.stat-btn {
	border: 0;
	background-color: transparent;
	font-size: 1.5rem;
}

.grid-1 {
	width: 100%;
	max-width: 45rem;
}

.grid-2 {
	width: 100%;
	max-width: 20rem;
}

.landing-page {
	height: 100vh;
	background-color: #ffc017;
	padding: 0rem 4rem;
	color: black;
}

.landing-h1 {
	font-family: 'DM Serif Text', serif;
	font-size: 5.75rem;
}

.landing-h4 {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	letter-spacing: -0.75px;
}

.auth-title {
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.6rem;
	text-align: center;
	letter-spacing: -0.3px;
}

.svg-logo {
	width: 24px;
	height: 24px;
	display: inline-block;
}

.svg-block {
	width: 12px;
	height: 12px;
	display: block;
}

.auth-link {
	min-width: 5rem;
	width: 100%;
}

#dlt-btn {
	scale: 0.785;
}
#dlt-btn > .spinner-border {
	scale: 0.585 !important;
}

.tag-btn {
	scale: 0.6;
}
.tag-btn:focus {
	box-shadow: none;
}
.tag-cls {
	border: 1px solid grey;
	display: flex;
	padding: 5px 10px;
}
.tag-list {
	flex-wrap: wrap;
}
.tag-box {
	border: 1px solid #ccc;
	width: 50%;
	overflow-x: auto;
	min-height: 4rem;
	height: 100%;
}
.tag-input {
	border: 0;
	border-bottom: 1px solid rgb(170, 170, 170);
	background-color: transparent;
	width: 50%;
	padding: 0.2rem 0.1rem;
}

.all-tags::-webkit-scrollbar {
	width: 1px;
}
.all-tags-btn {
	text-wrap: nowrap;
	border: 0px;
	border-bottom: 2px solid #efefef;
	background-color: white;
	font-weight: 600;
	color: grey;
}

.focus {
	color: black;
	border-bottom: 2px solid black;
}

.ql-bubble .ql-editor pre.ql-syntax {
	background-color: #f0f0f0 !important;
	color: black !important;
}

.ql-editor::before {
	font-style: normal !important;
	font-size: 0.9rem !important;
}
.ql-editor {
	font-size: 0.975rem;
}
pre.ql-syntax {
	padding: 5px 8px;
	background-color: #f0f0f0 !important;
}

.show-more-btn {
	border: 0px;
	background-color: transparent;
}

.search-box {
	display: none;
	position: absolute;
	z-index: 3;
	background-color: #f9f9f9;
	width: 20rem;
	overflow-x: auto;
	padding: 1.25rem 1.45rem;
	border: 1px solid #dee2e6;
	border-radius: 1rem;
	margin-top: 6px;
	font-size: 0.9rem;
}

.search-list::-webkit-scrollbar {
	width: 1px;
}

.search-result {
	white-space: nowrap;
	padding: 0.2rem 0;
	color: black;
	font-weight: 500;
}

.heading {
	font-size: 2.75rem;
	letter-spacing: -2px;
}
.sub.heading {
	font-size: 1.75rem;
	letter-spacing: -0.75px;
	font-family: 'Poppins', sans-serif;
}

.grid-layout {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px; /* Adjust the gap between items as needed */
}

.blog-image.grid-image {
	max-width: 100%;
	height: 20rem;
}

.read-time {
	align-self: center;
}

.dashboard.profile-pic {
	width: 8rem;
}

.dash-name {
	font-size: 2.35rem;
	letter-spacing: -1.25px;
}
.dash-email {
	font-size: 1.5rem;
	letter-spacing: -0.75px;
}
.dash-desc {
	font-size: 1.25rem;
}

.profile-edit {
	border: 0;
	padding: 0;
}

.ql-editor {
	min-height: 10rem;
}

.about-font > p {
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	margin-bottom: 0;
}

.reverse-icon {
	transform: scaleX(-1);
}
